#Signup{
    border:  1px solid rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    background-color: white;
    height: 460px;
    width: 670px;
    margin-left: 110px;
    margin-top: 35px;
    padding-left: 45px;
    line-height: 46px;
}
.head{
 font-size: 16px;
 font-family: Poppins,Helvetica,sans-serif;
 font-weight: 600;
 line-height: 20px;
 color: #183247;
 padding: 20px 0 25px 0;
}
.star{
 color: #d00;
font-size: 20px;
font-weight: bold;
position: relative;
top: 2px;
margin-left: 3px
px
;
margin-right: 1px;
line-height: 0;
display: inline;
}
span{
    font-size: 14px;
    font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
}
#Name{
    margin-left: 90px;
}#p{
    margin-left: 115px;
}
#Name,#p{
 height: 35px;
 width: 460px;
   border-radius: 3px;
   border-color:rgba(0, 0, 0, 0.308);
   outline-color: white;
   border-width: 1;
}
.g-recaptcha{
    margin-top: 20px;
    margin-left: 170px;
}
hr{
    margin-top: 50px;
 margin-right: 40px;
}
#btns{
    display: flex;
    padding-left: 170px;
    box-sizing: border-box;
    gap: 10px;
    
}
#btns>div{
    display: flex;
 width: 100px;
 height: 30px;
 /* margin-bottom: 20px; */
 font-family: Poppins,Helvetica,sans-serif;
 border-radius: 2px;
 box-sizing: border-box;
 justify-content: center;
 
 background-image: none;
 font-size: 12px;
 font-weight: 600;
 letter-spacing: 1.2px;
 text-shadow: none;
 text-transform: uppercase;
 
}
#btns>div:nth-child(1){
 background-color: #02b875;
 border: solid 1px #015335;
 
}
#btns>div:nth-child(2){
 background-color: #f3f5f7;
 border: solid 1px #97a9ba;
 
}
#btns>div:nth-child(1):hover{
 background-color: #02b8758a;
 
}
#btns>div:nth-child(2):hover{
 background-color: #3b3c3d2a;
 
}
.r,.rs{
    margin-top: -9px;
}
.r{
 color: white;
}
.rs{
 color: #183247;
}