body{
    background-image: url("https://www.onnbikes.com/img/bodybackground.png");
    font-family: montserrat, sans-serif;
}


#head1{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #737373;
}
#center1{
    width: 23%;
    margin: auto;
}
#line1{
    background-color: #C80910;
    width: 50px;
    height: 2px;
    margin: auto;
    margin-top: -15px;
}
#para1{
    width: 50%;
    margin: auto;
    text-align: center;
    color: grey;
    line-height: 1.38;
}
#box1{
    display: flex;
    /* border: 1px red solid; */
    margin-top: 30px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}
#box1>div>img{
    width: 250px;
    height: 266px;
    margin-right: 40px;
}
#box1>div>p:last-child{
    width: 60%;
    line-height: 1.38;
    color: grey;
}
#box1>div>p:first-child{
    
    font-weight: bold;
}

#box2{
        display: flex;
        /* border: 1px red solid; */
        margin-top: 30px;
        width: 60%;
        margin: auto;
        margin-top: 30px;
    
}
#box2>div>img{
    width: 250px;
    height: 266px;
}
 

#box2>div>p:last-child{
    width: 60%;
    line-height: 1.38;
    color: grey;
    margin-left: 150px;
    margin-top: 30px;
     
    }
#box2>div>p:first-child{
    margin-left: 150px;
    font-weight: bold;
    margin-top: 30px;
}

#line2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    gap: 30px;
    margin-top: 80px;
}
#line2>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 8%;
}

#line2>div>p{
    color: grey;
    font-size: 20px;
}
#line2>div>div{
    color: #484A64;
    font-size: 14px;
    line-height: 2;
}



#line3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: auto;
    gap: 30px;
    margin-top: 80px;
}
#line3>div{
    text-align: center;
    padding: 8%;
}

#line3>div>p{
    font-size: 20px;
}
#line3>div>div{
    color: grey;
    font-size: 14px;
    line-height: 2;
}



#line4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    margin: auto;
    gap: 30px;
    margin-top: 80px;
}
#line4>div{
    text-align: center;
    padding: 8%;
    
}

#line4>div>p{
    font-size: 20px;
}
#line4>div>div{
    color: grey;
    font-size: 14px;
    line-height: 2;
}